# Ignore virtual environment
venv/

# Ignore system files
__pycache__/
.DS_Store

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore model checkpoints if not needed
*.h5
*.hdf5

# Ignore logs or cache
*.log
*.pyc
